*
.*
!.bashrc
!.just_completion
!.lldbinit
!.npmrc
!.profile
!.zcompdump
!.zprofile
!.config
!.config/nvim/**
!.zshenv
!.zshrc
!.zinit/**
!.zcompcache/**
!.local/**
!.cargo/.env
!.gitignore
!.gitmodules
